.comercio-item{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
border-bottom:1px solid #eee;
}

.comercio-item button{
background:#2563eb;
color:white;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
}

/* Hover */
.centro-pin:hover {
  transform: scale(1.15);
}

/* Zoom lejos */
.centro-pin.zoom-far {
  opacity: 0.0;
  transform: scale(0.85);
}

/* Zoom medio */
.centro-pin.zoom-mid {
  opacity: 0.7;
  transform: scale(0.95);
}

/* Zoom cerca */
.centro-pin.zoom-near {
  opacity: 1;
  transform: scale(1);
}


/* Quitar estilo blanco feo de Leaflet */
.custom-leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 18px;
  padding: 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.custom-leaflet-popup .leaflet-popup-content {
  margin: 0;
  width: 230px;
}

/* Card principal */
.centro-popup {
  padding: 18px;
  font-family: 'Segoe UI', sans-serif;
}

/* Header */
.centro-popup-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.centro-popup-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.centro-popup-header span {
  font-size: 12px;
  color: #6b7280;
}

/* Icono redondo */
.centro-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

/* Botón moderno */
.centro-btn {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background: #2563eb;
  color: white;
  transition: all 0.25s ease;
}

.centro-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.3);
}

#listaComercios{
display:flex;
flex-direction:column;
gap:15px;
padding:10px;
}

.comercio-card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
display:flex;
flex-direction:column;
}

.comercio-carousel{
display:flex;
overflow-x:auto;
scroll-snap-type:x mandatory;
}

.comercio-carousel img{
width:100%;
height:180px;
object-fit:cover;
scroll-snap-align:start;
}

.comercio-info{
padding:12px;
}

.comercio-info h4{
margin:0 0 8px 0;
font-size:16px;
}

.comercio-datos{
display:flex;
flex-direction:column;
gap:5px;
font-size:14px;
color:#555;
margin-bottom:10px;
}

.comercio-datos i{
margin-right:5px;
color:#2563eb;
}

.comercio-info button{
background:#2563eb;
color:white;
border:none;
padding:8px;
border-radius:8px;
cursor:pointer;
width:100%;
font-weight:600;
}

.comercio-info button:hover{
background:#1d4ed8;
}

#centroModal .sector-modal-content{
max-height:85vh;
overflow-y:auto;
}