.colegio-pin {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

/* Hover */
.colegio-pin:hover {
  transform: scale(1.15);
}

/* Zoom lejos */
.colegio-pin.zoom-far {
  opacity: 0.0;
  transform: scale(0.85);
}

/* Zoom medio */
.colegio-pin.zoom-mid {
  opacity: 0.7;
  transform: scale(0.95);
}

/* Zoom cerca */
.colegio-pin.zoom-near {
  opacity: 1;
  transform: scale(1);
}


/* Quitar estilo blanco feo de Leaflet */
.custom-leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 18px;
  padding: 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.custom-leaflet-popup .leaflet-popup-content {
  margin: 0;
  width: 230px;
}

/* Card principal */
.colegio-popup {
  padding: 18px;
  font-family: 'Segoe UI', sans-serif;
}

/* Header */
.colegio-popup-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.colegio-popup-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.colegio-popup-header span {
  font-size: 12px;
  color: #6b7280;
}

/* Icono redondo */
.centro-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

/* Botón moderno */
.centro-btn {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background: #2563eb;
  color: white;
  transition: all 0.25s ease;
}

.centro-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(37, 99, 235, 0.3);
}